LIB_DFDL_ESB_BATCH_IMPARCH/LogAlignet.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="myNs:LogAlignet" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:ns0="myNs:LogAlignet" xmlns:ns01="myNs:LogAlignet" xmlns:xsd="http://www.w3.org/2001/XMLSchema">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>


	<xsd:element dfdl:encoding="ISO-8859-1" ibmSchExtn:docRoot="true" name="LogAlignet">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:encoding="ISO-8859-1" dfdl:occursCountKind="implicit" dfdl:terminator="%CR;" maxOccurs="unbounded" name="MENSAJE">
					<xsd:complexType>
						<xsd:sequence dfdl:separatorSuppressionPolicy="trailingEmpty">
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="NRO_REGISTRO" type="xsd:string"/>
							<xsd:element dfdl:encoding="ISO-8859-1" ibmDfdlExtn:sampleValue="value2" name="ERROR" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>