LIB_DFDL_ESB_BATCH_IMPARCH/SolicitudAfiliacion.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="myNS:SolicitudAfiliacion" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:ns0="myNS:GSIRHIINPUT" xmlns:ns1="myNS:SolicitudAfiliacion" xmlns:xsd="http://www.w3.org/2001/XMLSchema">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element dfdl:encoding="ISO-8859-1" ibmSchExtn:docRoot="true" name="SolicitudAfiliacion">
        		<xsd:annotation/>
        <xsd:complexType>
			<xsd:sequence dfdl:separator="">
											<xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%CR;%LF;" maxOccurs="unbounded" name="MENSAJE">
					<xsd:complexType>
						<xsd:sequence> 
							<xsd:element dfdl:textNumberPattern="#0" minOccurs="0" name="ID_GIRO" type="xsd:int">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ogf.org/dfdl/">
                    
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
							<xsd:element dfdl:length="7" dfdl:lengthKind="delimited" name="COD_COMERCIO" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:assert message="&lt;F&gt;Cod. Comercio debe ser menor que 40 digitos.&lt;/F&gt;">{ fn:string-length(/ns1:SolicitudAfiliacion/MENSAJE[1]/COD_COMERCIO)le 41}</dfdl:assert>
                  
                  
                  
                  </xsd:appinfo>
                </xsd:annotation>
                              </xsd:element>
							<xsd:element dfdl:textNumberPattern="#0" name="COD_PRODUCTO" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:assert message="&lt;F&gt;Cod. Producto Max. 40 caracteres&lt;/F&gt;">{fn:string-length(/ns1:SolicitudAfiliacion/MENSAJE[1]/COD_PRODUCTO )le(41)}</dfdl:assert>
                  
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
                            <xsd:element ibmDfdlExtn:sampleValue="value4" name="NRO_TARJETA" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:assert message="&lt;F&gt;Num. Tarjeta Invalida Min. 16 caracteres y Max. 19 caracteres&lt;/F&gt;">{fn:string-length( /ns1:SolicitudAfiliacion/MENSAJE[1]/NRO_TARJETA)ge(17) and fn:string-length( /ns1:SolicitudAfiliacion/MENSAJE[1]/NRO_TARJETA)le(20) }</dfdl:assert>
                  <dfdl:assert failureType="processingError" message="&lt;F&gt;La tarjeta tiene formato incorrecto&lt;/F&gt;">{fn:not(fn:contains(/ns1:SolicitudAfiliacion/MENSAJE[1]/NRO_TARJETA,' '))}</dfdl:assert>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
                            <xsd:element dfdl:textNumberPattern="#0" name="NRO_MES_EXPIRACION_TARJETA" type="xsd:int">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:assert message="&lt;F&gt;Mes invalido&lt;/F&gt;">{xs:int(/ns1:SolicitudAfiliacion/MENSAJE[1]/NRO_MES_EXPIRACION_TARJETA )gt(0) and xs:int(/ns1:SolicitudAfiliacion/MENSAJE[1]/NRO_MES_EXPIRACION_TARJETA )le(12)}</dfdl:assert>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
                            <xsd:element dfdl:textNumberPattern="#0" name="NRO_ANHO_EXPIRACION_TARJETA" type="xsd:int">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:assert message="&lt;F&gt;Anho invalido&lt;/F&gt;">{xs:int(/ns1:SolicitudAfiliacion/MENSAJE[1]/NRO_ANHO_EXPIRACION_TARJETA )gt(1800) and xs:int(/ns1:SolicitudAfiliacion/MENSAJE[1]/NRO_ANHO_EXPIRACION_TARJETA )le(9999)}</dfdl:assert>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
                             <xsd:element ibmDfdlExtn:sampleValue="value7" name="NOM_TARJETAHABIENTE" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:assert message="&lt;F&gt;Titular Nombre Max. 50 caracteres&lt;/F&gt;">{fn:string-length(/ns1:SolicitudAfiliacion/MENSAJE[1]/NOM_TARJETAHABIENTE )le(50)}</dfdl:assert>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
                            <xsd:element dfdl:calendarLanguage="es-PE" dfdl:calendarPattern="dd/MM/yyyy" dfdl:calendarPatternKind="explicit" ibmDfdlExtn:sampleValue="" name="APE_PATERNO_TARJETAHABIENTE" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:assert message="&lt;F&gt;Titular Ap. Paterno Max. 50 caracteres&lt;/F&gt;">{fn:string-length(/ns1:SolicitudAfiliacion/MENSAJE[1]/APE_PATERNO_TARJETAHABIENTE )le(50)}</dfdl:assert>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
                            <xsd:element ibmDfdlExtn:sampleValue="value9" minOccurs="0" name="APE_MATERNO_TARJETAHABIENTE" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:assert message="&lt;F&gt;Titular Ape. Materno Max. 50 caracteres&lt;/F&gt;">{fn:string-length(/ns1:SolicitudAfiliacion/MENSAJE[1]/APE_MATERNO_TARJETAHABIENTE )le(50)}</dfdl:assert>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
                            <xsd:element ibmDfdlExtn:sampleValue="value10" name="TELEFONO_TARJETAHABIENTE" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:assert message="&lt;F&gt;Titular Telefono Max. 15 caracteres&lt;/F&gt;">{fn:string-length(/ns1:SolicitudAfiliacion/MENSAJE[1]/TELEFONO_TARJETAHABIENTE )le(15)}</dfdl:assert>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
                            <xsd:element ibmDfdlExtn:sampleValue="value11" name="EMAIL_TARJETAHABIENTE" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ogf.org/dfdl/">
                    
                  <dfdl:assert message="&lt;F&gt;Titular Correo Max. 75 caracteres">{fn:string-length( /ns1:SolicitudAfiliacion/MENSAJE[1]/EMAIL_TARJETAHABIENTE)le(75)}</dfdl:assert>
                  </xsd:appinfo>
                </xsd:annotation>
                                                                                                                                                                                                                                                                                                                                                                                                                                  </xsd:element>
                            <xsd:element ibmDfdlExtn:sampleValue="value12" name="NRO_IDENTIFICACION_BENEFICIARIO" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:assert message="&lt;F&gt;Identificador Usuario Max. 24 caracteres&lt;/F&gt;">{fn:string-length(/ns1:SolicitudAfiliacion/MENSAJE[1]/NRO_IDENTIFICACION_BENEFICIARIO )le(24)}</dfdl:assert>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
                            <xsd:element ibmDfdlExtn:sampleValue="value13" name="NOM_BENEFICIARIO" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:assert message="&lt;F&gt;Usuario Nombre Max. 50 caracteres&lt;/F&gt;">{fn:string-length( /ns1:SolicitudAfiliacion/MENSAJE[1]/NOM_BENEFICIARIO)lt(50)}</dfdl:assert>
                  </xsd:appinfo>
                </xsd:annotation>
                                                                          </xsd:element>
                            <xsd:element ibmDfdlExtn:sampleValue="value14" name="APE_PATERNO_BENEFICIARIO" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:assert message="&lt;F&gt;Usuario Ap. Paterno Max. 50 caracteres&lt;/F&gt;">{fn:string-length( /ns1:SolicitudAfiliacion/MENSAJE[1]/APE_PATERNO_BENEFICIARIO)le(50 )}</dfdl:assert>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
                                                                                    <xsd:element ibmDfdlExtn:sampleValue="value15" minOccurs="0" name="APE_MATERNO_BENEFICIARIO" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ogf.org/dfdl/">
                    <dfdl:assert message="&lt;F&gt;Usuario Ap. Materno Max. 50 caracteres&lt;/F&gt;">{fn:string-length(/ns1:SolicitudAfiliacion/MENSAJE[1]/APE_MATERNO_BENEFICIARIO )le(50)}</dfdl:assert>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
                            <xsd:element dfdl:textNumberPattern="#0.###" name="MTO_MAXIMO_CARGO" type="xsd:string"/>
                                                                                <xsd:element minOccurs="0" name="TITULAR_TIPO_DOCUMENTO" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ogf.org/dfdl/">
                    
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
                            <xsd:element minOccurs="0" name="TITULAR_NRO_DOCUMENTO" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="http://www.ogf.org/dfdl/">
                    
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
                			            </xsd:sequence>
		</xsd:complexType>
	</xsd:element>



</xsd:schema>